
@keyframes fadeOutUp {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-93.5vh);
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
.cover {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 93.5vh;
  background-image: url('src/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.order-btn-selected {
  border: 1px solid #574204;
  color: #574204;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.7px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.order-btn {
  border: 1px solid #bab0a7;
  color: #bab0a7;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.7px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}