.head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 85px;
}

.header-left {
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  line-height: 20px;
  margin-left: 1rem;
}
.header-left p {
  font-size: 14px;
  margin-left: 5px;
}
.logo {
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.logo-text{
  cursor: pointer;
}
.header-middle {
  display: flex;
  align-items: center;
}
.search-box {
  width: 710px;
  height: 57px;
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header-middle input {
  width: 540px;
  font-size: 1.2rem;
  height: 37px;
  border: none;
  line-height: 50px;
  &:focus {
    outline: none;
  }
}
.header-middle button {
  width: 142px;
  height: 37px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #f9b916;
  cursor: pointer;
}
.header-right {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
.header-right button {
  border: none;
  min-width: 92px;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.login {
  margin-right: 3rem;
}
.signup {
  margin-right: 2rem;
}
