.data-list {
  position: relative;
  display: flex !important;
  justify-content: center;
}
.contents {
  width: 90%;
  cursor: pointer;
}
.imgdiv {
  width: 100%;
  height: 18.75rem;
}
.data-img {
  object-fit: cover;
}
.data-text {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: white;
  text-shadow: 6px 6px 16px rgba(0, 0, 0, 0.9);
  z-index: 10;
}
.section {
  padding: 40px 0;
}
.section-title {
  color: #ff792a;
  font-size: 32px;
  font-weight: 600;
  margin: 0 100px;
  padding: 0 0 40px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 3rem;
}
.arrow-div {
  display: flex;
}
.prev {
  height: 43px;
  position: absolute;
  top: 50%;
  left: 1%;
}
.next {
  height: 43px;
  position: absolute;
  top: 50%;
  right: 1%;
}
.arrow-left {
  height: 43px;
  cursor: pointer;
}
.arrow-right {
  height: 43px;
  cursor: pointer;
}
